body{
    width: 90%;
    background-color: #BAD0E8;
    background: fixed;
}

#ecrainicial{
    width: 96%;
    padding: 0% 7% 0% 7%;
}

#ecrainicial td iframe{
    padding-left: 35px;
}

table{
    width: 100%;
}

#titulo{
    width: 80%;
    text-align: left;
}

#titulo a{
    color: #3EAFE2;
    text-decoration: none;
}

#titulo a:hover{
    color: #0E2F64;
}

#titulo img{
    width: 50%;
}

#menu{
    text-align: right;
    font-family: 'Balsamiq Sans', cursive;
}

#menu ul{
    list-style: none; 
}

#menu ul a{
    padding-right: 3%;  
    text-decoration: none;
}

#menu ul a:hover{
    color: blueviolet;
}

#menu ul a:active{
    color: rgb(91, 17, 160);
}

#menu ul li{
    display: inline;
}

p{
    text-align: justify;
    font-size: 20px;
}

h2{
    font-family: 'Spectral', serif;
    font-size: 45px;
}

#historia{
    width: 96%;
    padding: 0% 7% 0% 7%;
}

.min{
    width: 200px;
    padding: 10px;
}

#historia ul{
    width: 800px;
    list-style: none;
    display: flex;
    margin: -5px auto;
}

.lbox{
    visibility: hidden;
    opacity: 0;
}

.lbox:target{
    opacity: 1;
    visibility: visible;
    width: 146%;
    height: 146%;
    top: 0;
    left: 0;
    background-color: rgba(10,10,10,.7);
    position: fixed;
}

.box_img{
    width: 1000px;
    margin: 150px auto;
}

.btn{
    color: #fff;
    font-family: 'Arial';
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

#pre{
    left: 22%;
    top: 30%;
}

#next{
    right: 47.3%;
    top: 30%;
}

#close{
    right: 35%;
    top: 2%;
}

.box_img img{
    opacity: 0;
}

.lbox:target .box_img img{
    opacity: 1;
    transition: opacity .4s linear;
    width: 50%;
}

abbr{
    text-decoration: none;
    color: coral;
}

#destinos{
    width: 96%;
    padding: 0% 7% 0% 7%;
}

#frota{
    width: 96%;
    padding: 0% 7% 0% 7%;
}