*{
    font-family: montserrat, sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

#setainicio{
    text-decoration: none;
}

#setainicio img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

#setainicio img:hover{
    width: 7%;
}

#produtos{
    max-width: 900px;
    margin: 0 auto;
    padding:0 2%;
    display: flex;
}

#carrinho{
    max-width: 900px;
    margin: 0 auto;
    padding:0 2%;
    display: block;
}

.produto-sigle{
    width: 32%;
    margin-right: 1%;
    border: 1px solid #ccc;
    margin: 20px 0;
}

.produto-sigle img{
    max-width: 100%;
}

h1{
    font-weight: 700;
    font-size: 2.3em;
    background-color: #6ea3dae3;
    text-align: center;
}

h2{
    background-color:#8eb8dfd0;
    text-align: center;
}