*{
    font-family: montserrat, sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

#setainicio{
    text-decoration: none;
}

#setainicio img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

#setainicio img:hover{
    width: 7%;
}

#produtos{
    max-width: 900px;
    margin: 0 auto;
    padding:0 2%;
    display: flex;
    flex-wrap: wrap;
    
}

#carrinho{
    max-width: 900px;
    margin: 0 auto;
    padding:0 2%;
    display: block;
}

.produto-single{
    width: 32%;
    margin-right: 1%;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.produto-single img{
    max-width: 100%;
    padding-left: 8%;
}

.produto-single p{
    text-align: center;
    font-size: 16px;
    padding: 10px;
    
}

.produto-single a{
    text-decoration: none;
    color: white;
    background-color: #6ea3dae3;
    text-align: center;
    display: block;
    padding: 8px 0;
}

h2{
    background-color:#8eb8dfd0;
    text-align: center;
}

.info-single-checkout{
    border-bottom: 2px dotted;
    padding: 10px 0;
}




@media screen and (max-width:768px){
    .produto-single{
        width: 100%;
        margin-right: 0;
    }
}