#setainicio{
    text-decoration: none;
}

#setainicio img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

#setainicio img:hover{
    width: 7%;
}

#produtos, #carrinho{
    max-width: 900px;
    margin: 0 auto;
    padding:0 2%
}