@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
    padding-left: 7%;
    padding-right: 7%;
}

div#inicio{
    position: absolute;
    display: block;
    top: 3px;
    width: 86%;
}


table{
    width: 100%;
}

td#menu{
    text-align: right;
    padding-bottom: 4%;
}

h1 {
    font-family: 'Bree Serif', serif;
    font-size: 2.3em;
}

#inicio p{
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: left;
}
        
div#inicio table tr td img{
    margin-left: 63%;
    margin-top: 5%;
}

li{
    display: inline;
    padding: 2%;
    font-size: 20px;
}

div#rectanglegray{
    position: relative;
    top: 323px;
    width: 100%;
    height: 564px;
    background-color: #D4D4D4;
}

img#imageminicial{
    width: 85%;
    position: absolute;
    top: 34.6%;
    left: 100px;
}

div#rectangleblue{
    width: 200px;
    height: 416px;
    background-color: #8eb8dfd0;
    margin-left: 25%;
    margin-top: -574px;
    position: absolute;
}

div#ecradois{
    padding-top: 30%;
}

.imgcompanhias{
    margin-left: 38.3em;
    position: absolute;
    margin-top: -44px;  
}

section{
    margin: 50px auto;
}

#tabelacompanhias{
    padding-top: 20px;
    width: 80%;
}

#tabelacompanhias td{
    padding-bottom: 19px;
}

.companhias{
    width: 81%;
    border-radius: 75%;
    position: relative;
    box-shadow: #f1b9bac7 1px 7px 21px 0px;
}

.companhias:hover{
    cursor: pointer;
    transform: translateY(-30px);
    box-shadow: #f1b8bac7 6px 40px 20px 1px;
}

.companhias:active{
    transform: translateY(15px);
    box-shadow: none;
}

div#ecratres table tr td h1{
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-size: 2.3em;
    text-align: right;
}

div#ecratres table tr td p{
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: right;
}
